@media (min-width: 320px) and (max-width: 767px) {
  #banner .slides {
    height: 300px;
  }
  #banner .banner_cnt p {
    font-size: 13px;
  }
  #banner .banner_cnt h2 {
    font-size: 26px;
    line-height: 15px;
  }
  #banner .banner_cnt h5 {
    font-size: 11px;
  }
  #banner .banner_cnt h6 a {
    font-size: 14px;
    padding: 6px 19px;
  }
}
