@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');
:root {
  --primaryColor: #ff6f61;
  --secondaryColor: #1d1d1d;
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Josefin Sans', sans-serif;
}
/* COMMON CSS STARTS HERE */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
span,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align_center {
  align-items: center;
}
body {
  font-family: var(--primaryFont);
}
.heading a {
  color: #fff;
  font-family: var(--secondaryFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  background-color: #ff6f61;
  padding: 15px 45px;
  display: inline-block;
  border-radius: 10px;
}
/* COMMON CSS ENDS HERE */

/* nav starts here */
.customNav ul li a {
  color: var(--primaryColor);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  margin: 37px 22.5px;
  display: block;
}
.customNav ul li:hover a {
  color: #ff6f61;
}
.icons ul li {
  display: inline-block;
}
.icons ul li a {
  padding: 37px 10px;
  font-size: 20px;
  color: var(--secondaryColor);
}
.icons ul li span {
  padding: 37px 10px;
  font-size: 20px;
  color: var(--secondaryColor);
}
.display_sm {
  padding: 20px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.display_sm .logo img {
  height: 50px;
}
.display_sm i {
  font-size: 24px;
}
.display_sm .offcanvas {
  width: 85%;
}
.display_sm .menu button {
  border: none;
}
.display_sm .offcanvas img {
  height: 50px;
}
.offcanvas-body {
  text-align: left;
  margin-left: 20px;
}
.offcanvas-body ul li a {
  padding: 10px 0;
  display: block;
  color: var(--secondaryColor);
}
/* nav ends here */

/* banner */
#banner {
  position: relative;
}
#banner .slides {
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
}
#banner .banner_cnt p {
  color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
#banner .banner_cnt h2 {
  color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  font-size: 64px;
  font-weight: 700;
  line-height: 74px; /* 115.625% */
  margin: 14px 0 16px 0;
}
#banner .banner_cnt h5 {
  color: var(--secondaryColor);
  font-family: var(--primaryColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 30px;
}

/* #banner .banner_cnt {
  transform: translateY(80%);
  transition: 0.35s ease;
}
#banner .banner_cnt.slick-active .banner_cnt {
  transform: translateY(0%);
} */

#banner .bannerDots {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
#banner .bannerDots button {
  width: 15px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  display: block;
  border: none;
  outline: none;
  color: transparent;
  margin-right: 5.5px;
  transition: 0.45s;
}
#banner .bannerDots .slick-active button {
  width: 30px;
  background-color: var(--primaryColor);
}
/* banner ends */
#newProduct {
  padding-bottom: 96px;
}
#newProduct .heading.custom h2 {
  padding-bottom: 24px;
}
#newProduct .productSlider {
  position: relative;
}
#newProduct .productSlider .discount p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  top: 14px;
  left: 20px;
  color: #fff;
  background-color: var(--primaryColor);
  padding: 0 9px;
  border-radius: 13px 0 0 13px;
  transform: rotate(-90deg);
}
#newProduct .productSlider img {
  width: 100%;
}
#newProduct .productText {
  text-align: center;
  padding: 24px 0;
}
#newProduct .productText p {
  color: var(--secondaryColor);
  font-family: var(--primaryFont);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#newProduct .productText h3 {
  color: var(--secondaryColor);
  text-align: center;
  font-family: var(--primaryFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 5px 0 11px 0;
}
#newProduct .star {
  color: var(--primaryColor);
}
#newProduct .Productimages {
  position: relative;
}
#newProduct .Productimages .overlay {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}
#newProduct .Productimages .overlay a {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
  color: var(--secondaryColor);
  background-color: #fff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 36px;
  transition: 0.45s;
}
#newProduct .Productimages .overlay li:hover a {
  background-color: var(--primaryColor);
  color: #fff;
}
/* cosmetics starts here  */
#cosmetics {
  padding: 103px 0;
}

/* cosmetics ends here  */
